@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akebono&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

div {
    box-sizing: border-box;
}

h1 {
    font-family: 'Yuji Hentaigana Akebono', cursive;
}

.center, .left, .right, .searchInput, .card, .footer {
    border: 1px solid rgba(0, 0, 0, .8);
}

.body, .nav, .centerBody, .footer {
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding-bottom: 80px;
}

.nav {
    background-color: #6d0101;
    line-height: 80px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    padding: 0 20px;
}

.navLink {
    flex: 5%;
}

.navSpace {
    flex: 75%;
}

.navSearch {
    flex: 10%;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.searchInput {
    border-radius: 4px;
    line-height: 24px;
    width: 100%;
}

/* body */
.body {
    gap: 2%;
    padding: 0 40px 40px;
}

.left, .right {
    flex: 18%;
}

.center {
    flex: 60%;
    background-image: url("https://assets-eu-01.kc-usercontent.com/bcd02f72-b50c-0179-8b4b-5e44f5340bd4/ccdb3a19-7024-4aa5-8412-d8b74a189760/Introduction-to-science-fiction-The-best-sci-fi-books-for-newbies-to-the-genre-Header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.center, .left, .right {
    border-radius: 10px;
}

/* center header */
.centerHead {
    padding: 20px 0 80px;
    text-align: center;
}

/* center body */
.centerBody {
    gap: 5%;
    padding: 0 150px;
}

/* card */
.card {
    flex: 15%;
    padding: 20px;
    border-radius: 6px;
    background-color: white;
}

.cardBody {
    text-align: center;
}

.circle {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #c4c4c4;
    margin: 0 auto;
}

.cardHead {
    padding-bottom: 60px;
}

/* center footer */
.centerFooter {
    padding: 100px 150px 40px;
}

.footer {
    padding: 0px 40px;
    background-color: white;
    border-radius: 6px;
}

.textColumn {
    flex: 15%;
    padding: 20px;
    overflow-wrap: anywhere;
}